{% extends 'site_base.html' %}

{% load i18n %}

{% block title %}
  {{ request.site.name }} - {% translate 'account activation failed' %}
{% endblock %}

{% block main %}
<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <h1 class="h4 text-muted mb-3">{% translate 'Activation Failed' %}</h1>
        <p>{% translate 'Oops, this activation link is either invalid or has expired.' %}</p>

        <p>{% translate 'Please click on the button below to request a new activation link.' %}</p>

        <div class="py-2">
          <a href="{% url 'accounts:activation' %}" class="btn btn-primary px-4">{% translate 'Request new activation link' %}</a>
        </div>

        {% url 'login' as login_url %}
        <p><small>{% blocktranslate %}Not sure whether your account is in need of activation? Please <a href="{{ login_url }}">try logging in</a> to check.{% endblocktranslate %}</small></p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
