{% extends 'site_base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
  {{ request.site.name }} - {% translate 'password successfully reset' %}
{% endblock %}

{% block main %}
<section class="py-5">
  <div class="container">

    <h1 class="h2 text-muted mb-4">{% translate 'Password Reset Complete' %}</h1>

    {% if messages %}
      {% for message in messages %}
        {% if 'password_reset_confirm' in message.tags.split %}
          <div class="alert alert-info alert-dismissible fade show mb-4" role="alert">
            {{ message | safe }}
            <button type="button" class="close" data-dismiss="alert" aria-label="{% translate 'Close' %}">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}

    <p><a href="{% url 'login' %}">{% translate 'Log in with your new password' %}</a></p>

  </div>
</section>
{% endblock %}
