{% extends 'site_base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
  {{ request.site.name }} - {% translate 'reset your password' %}
{% endblock %}

{% block main %}
<section class="py-5">
  <div class="container">
    <h1 class="text-center h4 text-muted mb-4">{% translate 'Password Reset' %}</h1>
    <div class="row justify-content-center">
      <div class="col col-sm-11 col-md-9 col-lg-7 col-xl-5">
        <div class="card p-3 pt-4">
          <form method="post" action="">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="text-center mt-4">
              <input class="btn btn-primary px-5" type="submit" value="{% translate 'Reset my password' %}">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
