{% extends 'site_base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
  {{ request.site.name }} - {% translate 'password reset link sent' %}
{% endblock %}

{% block main %}
<section class="py-5">
  <div class="container">

    <h1 class="h2 text-muted mb-4">{% translate 'Password Reset' %}</h1>

    {% if messages %}
      {% for message in messages %}
        {% if 'password_reset' in message.tags.split %}
          <div class="alert alert-info alert-dismissible fade show mb-4" role="alert">
            {{ message | safe }}
            <button type="button" class="close" data-dismiss="alert" aria-label="{% translate 'Close' %}">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}

    <div class="alert alert-secondary mb-4" role="alert">{% blocktranslate %}Please note that you will receive the password reset instructions <strong>ONLY IF</strong> you entered the email address you registered your account with into the password reset form.{% endblocktranslate %}</div>

    <p>{% translate 'This email may take up to fifteen minutes to get to you. So, please wait for it if it has not yet arrived. Also, please check your spam folder while waiting.' %}</p>

  </div>
</section>
{% endblock %}
